{% extends 'base2.html' %}
{% block title %}廣告投放後台{% endblock title %}
{% block content %}

<div class="container-fluid advertising">
  <div class="row">
    <div class="col-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">廣告投放</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 col-sm-12 text-center">
              <div class="change-img newimg">
                <div class="change-text">
                  <label class="pic-edit" for="file">編輯圖片<i class="fas fa-pencil-alt"></i></label>
                  <input type="file" name="file" id="file" class="position-absolute overflow-hidden"
                    style="display:none;">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <small id="passwordHelpBlock" class="form-text text-muted text-left">
                    * 照片建議尺寸 1024*768
                  </small>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col">
                  <div class="form-group mb-0">
                    <label class="float-left mb-0">廣告標題</label>
                    <input type="text" class="form-control behoove" id="Ads_Name" placeholder="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <label class="float-left mb-0">活動內容</label>
                  <textarea class="form-control behoove" id="Content" rows="7"></textarea>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="row">
                <div class="form-group col-md-6 float-left mb-0">
                  <label class="float-left mb-0">廠商名稱</label>
                  <input type="text" class="form-control" id="Source">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6 float-left mb-0">
                  <label class="float-left mb-0">價格</label>
                  <input type="text" class="form-control" id="Price">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6 float-left mb-0">
                  <label class="float-left mb-0">開始時間</label>
                  <input type="text" class="form-control DateTime" id="startTime">
                </div>
                <div class="form-group col-md-6 float-left mb-0">
                  <label class="float-left mb-0">結束時間</label>
                  <input type="text" class="form-control DateTime" id="endTime">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12 float-left mb-0">
                  <label class="float-left mb-0">活動連結</label>
                  <input type="text" class="form-control" id="url">
                </div>
              </div>
              <div class="row">
                <div class="col-12 text-center">
                  <label class="float-left mb-0">標籤</label>
                  <input type="text" class="form-control mb-3" id="tag">
                  <div class="bg-light tag-list text-left">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col text-center">
                  <button type="button" class="btn btn-secondary m-3">清除</button>
                  <button type="button" class="btn btn-orange m-3 submit">送出</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block script %}
<script src="{{ url_for('static',filename='dashboard/js/advertising.js') }}?version=1.01"></script>
{% endblock script %}