<!DOCTYPE html>
<html lang="zh-TW">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{% endblock title %}</title>

  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static',filename='vendor/jquery-confirm/jquery-confirm.css') }}">
  <link href="{{ url_for('static',filename='vendor/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='vendor/jquery-ui/jquery-ui-timepicker-addon.css') }}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{{ url_for('static',filename='dashboard/css/sb-admin-2.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static',filename='dashboard/css/style-dashboard.css') }}?version=1.14" rel="stylesheet" type="text/css">
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="javascript:;">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-book-open"></i>
        </div>
        <div class="sidebar-brand-text mx-3">後台管理</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        活動列表
      </div>
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-main small">Fiesta</span>
                <img class="img-profile rounded-circle" src="{{ url_for('static',filename='img/new-logo.png') }}">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="/">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  回首頁
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->
          {% block content %}{% endblock content %}
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Fiesta 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static',filename='vendor/jquery/jquery.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static',filename='dashboard/js/common-dashboard.js') }}?version=1.27"></script>
  <script src="{{ url_for('static',filename='dashboard/js/sb-admin-2.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/chart.js/Chart.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/jquery-ui/jquery-ui.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/jquery-ui/jquery-ui-timepicker-addon.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/jquery-ui/jquery-ui-sliderAccess.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/jquery-confirm/jquery-confirm.js') }}"></script>
  <!-- Page level custom scripts -->
  <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
  {% block script %}{% endblock script %}
</body>
</html>