<!DOCTYPE html>
<html lang="zh-TW">
<body>
    <script src="{{ url_for('static',filename='vendor/jquery/jquery.js') }}"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  
    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="{{ url_for('static',filename='vendor/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/jquery-ui/jquery-ui-timepicker-addon.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/jquery-ui/jquery-ui-sliderAccess.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/jquery-confirm/jquery-confirm.js') }}"></script>
  
    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static',filename='js/common.js') }}?version=1.14"></script>
    <script src="{{ url_for('static',filename='js/logout.js') }}"></script>
    <script src="{{ url_for('static',filename='js/check.js') }}?version=1.07"></script>
</body>
</html>