{% extends 'base.html' %}
{% block title %}登入{% endblock title %}
{% block content %}
<section class="content-section bg-light">
    <div class="container text-center">
        <form>
        <div class="form-row">
            <div class="col-3 form-group ml-auto">
                姓名
                <input type="text" class="form-control" value="{{ session['NickName'] }}">
            </div>
            <div class="col-3 form-group mr-auto">
                手機
                <input type="text" class="form-control" value="{{ session['Phone'] }}">
            </div>
        </div>
        <div class="form-row">
            <div class="col-3 form-group ml-auto">
                新密碼
                <input type="password" class="form-control">
            </div>
            <div class="col-3 form-group mr-auto">
                再次輸入新密碼
                <input type="password" class="form-control">
            </div>
        </div>
        </form>
    </div>
</section>
{% endblock content %}