{% extends 'base-new.html' %}
{% block content %}
<div class="container-fluid tag bg-light">
  <div class="text-center">
    <h3>選擇活動Tag(最多4個)</h3>
    <h6><small>What you're interested in?</small></h6>
  </div>
  <div class="card select-tag-list">
    <div class="card-body">
      <div class="tag-area">
        <div class="tag-box border-radius-circle"></div>
        <h6 class="tag-text">傳說對決</h6>
      </div>
      <div class="tag-area">
        <div class="tag-box border-radius-circle"></div>
        <h6 class="tag-text">傳說對決</h6>
      </div>
      <div class="tag-area">
        <div class="tag-box border-radius-circle"></div>
        <h6 class="tag-text">傳說對決</h6>
      </div>
      <div class="tag-area">
        <div class="tag-box border-radius-circle"></div>
        <h6 class="tag-text">傳說對決</h6>
      </div>
      <div class="tag-area">
        <div class="tag-box border-radius-circle"></div>
        <h6 class="tag-text">傳說對決</h6>
      </div>
      <div class="tag-area">
        <div class="tag-box border-radius-circle"></div>
        <h6 class="tag-text">傳說對決</h6>
      </div>
      <div class="tag-area">
        <div class="tag-box border-radius-circle"></div>
        <h6 class="tag-text">傳說對決</h6>
      </div>
      <div class="tag-area">
        <div class="tag-box border-radius-circle"></div>
        <h6 class="tag-text">傳說對決</h6>
      </div>
      <div class="tag-area">
        <div class="tag-box border-radius-circle"></div>
        <h6 class="tag-text">傳說對決</h6>
      </div>
      <div class="tag-area">
        <div class="tag-box border-radius-circle"></div>
        <h6 class="tag-text">傳說對決</h6>
      </div>
      <div class="tag-area">
        <div class="tag-box border-radius-circle"></div>
        <h6 class="tag-text">傳說對決</h6>
      </div>
      <div class="tag-area">
        <div class="tag-box border-radius-circle"></div>
        <h6 class="tag-text">傳說對決</h6>
      </div>
      <div class="tag-area">
        <div class="tag-box border-radius-circle"></div>
        <h6 class="tag-text">傳說對決</h6>
      </div>
      <div class="tag-area">
        <div class="tag-box border-radius-circle"></div>
        <h6 class="tag-text">傳說對決</h6>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block script %}
<script src="{{ url_for('static',filename='js/test.js') }}"></script>
{% endblock script %}